.product-text-title{
    background-color: #EBEBEB;
    text-align: center;
    padding: 3em;
}
.product-text-title-pri{
    font-size: 4em;
    color: black;
}
.product-text-title-sec{
    font-size: 1.3em;
    color: black;
}

.product-text-text{
    text-align: left;
    padding: 5em;
    font-size: 1.3em;
}
.title{
    font-size: 1.5em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.product-text-text-pri, .product-text-text-sec{
padding-left: 4em;
padding-right: 4em;
padding-top: 1.5em;
padding-bottom: 1.5em;
font-size: 2em;
}
strong{
    font-weight: bold;
}