@font-face {
    font-family: 'simplon';
    src: local('fonts/simplon-webfont.woff2') format('woff2'),
        local('fonts/simplon-webfont.woff') format('woff'),
        local('fonts/simplon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "simplon", "abel", sans-serif;
}
p{
    margin: 0;
    padding: 0;
}

/*header and nav*/

nav {
    z-index: 9999999;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #494949;
    flex-wrap: wrap;
    position: sticky;
    left: 0;
    top: 0;

}

nav img {
    width: 160px;
}

nav a {
    font-size: 2em;
    font-family: "simplon", "abel", sans-serif;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
}

nav a:hover {
    background-color: #575656;
}

.nav-home-button,
.nav-logo {
    min-width: 33%;
    text-align: center;
}

.nav-products-button,
.nav-contact-button {
    min-width: 16%;
    text-align: center;
}

.sub-header {
    border-top: 1px solid #D3D3D3;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #494949;
    flex-wrap: wrap;
    padding: 10px;
}

.sub-header p {
    color: white;
    font-size: 2em;
}


/*footer*/

footer{
    font-size: 1.5em;
    color: white;
    width: 100%;
    background-color: #494949;
}
.footer-pt-1{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-pt-2{
    padding: 15px;
    padding-left: 35%;
    padding-right: 35%;
    text-align: center;
}

.footer-pt-1-1, .footer-pt-1-2, .footer-pt-1-3{
    text-align: center;
}