nav {
    z-index: 10;

}
.products-list-1, .products-list-2, .products-list-3{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: space-around;
    width: 100%;
}
.products-list-2{
    background-color: #EBEBEB;
}
.product img{
    height: 150px;
    width: 150px;
    border: 1px solid #D7D7D7;
}
.product p{
    padding: 5px;
}
.see-more-button{
    color: white;
    text-decoration: none;

}
.see-more-button p{
    padding: 10px;
    background-color: #FF0303;
    border-radius: 8px;    margin-left: 1em;
    margin-right: 1em;
}
.see-more-button p:hover{
    background-color: rgb(175, 3, 3);
}
.product{
    text-align: center;
}
.products-section{
    width: 100%;
}
.product img:hover{
    opacity: 0.5;
}

@media only screen and (max-width: 600px){

    .products-list-1, .products-list-2, .products-list-3{
        flex-direction: column;
    } 
}