.home-text-title{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 3em;
}
.home-text-title-sec{
    font-size: 2em;
    color: black;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #FF0303;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(175, 3, 3);
  }
  
  .formulaire {
    border-radius: 5px;
    background-color: #EBEBEB;
    padding-top: 4em;
    padding-bottom: 4em;
  }
  form{
      width: 60%;
      margin: auto;
  }
  .formulaire div{
      display: flex;
      width: 40%;
  }
  #email, #tel{
      width:40%;
  }
  #map {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 300px;
    width: 60%; 
    border-radius: 10px;
   }
   @media only screen and (max-width: 900px){
    form{
      width: 75%;
  }
  .home-text-title-sec{
    font-size: 1.5em;
}

}
@media only screen and (max-width: 430px){
  form{
    width: 95%;
}
.home-text-title-sec{
  font-size: 1em;
}

}
@media only screen and (max-width: 830px){
  #map {
    width: 80%; 
   }

}
@media only screen and (max-width: 900px){

  .home-text-title{
    padding: 1.5em;
}
}